*{
    font-family:'Times New Roman', Times, serif;
}

.head {
    background-color: #3a51e8;
    color:white;
    font-size: 30px;
    margin-top: 10px;
    border-width: 3px;
    border-bottom:#e61c26;
    
}

.searchbar {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hide {
    visibility: hidden;
}

.cityname {
    font-size: 30px;
}

.date {
    font-size: 20px;
}

.img {
    max-width: 20%;
}

.future {
    font-size: 30px;
}

.card {
    margin: 5px;
}